/* -------- НОРМАЛІЗАТОР ---------------------------- */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------------------------------------------------------------- */

/* --------- ОБЩИЕ СТИЛИ --------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.container {
  width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------------------------------------------------------------------- */


/* ------------ HEADER ---------------------------------------------------------------------- */

.header {
  background-color: #1c1e53;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo {
  padding: 17px 0;
}

.header-logo-img {}

.header-navigation-menu {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 32px;

}

.header-menu-item {}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  transition: color 250ms linear;

}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #fcd980;
}



.header-menu-contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;

  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  padding: 15px 51px;
  display: inline-block;
  height: 60px;
  margin-left: 48px;
  transition: color 250ms linear, border 250ms linear;
}

.header-menu-contacts:hover,
.header-menu-contacts:focus {
  color: #fcd980;
  border: 2px solid #fcd980;
}





/* -------------------------------------------------------------------------- */


/* ---------------------------problems------------------------------------------------------- */




.section-problems {
  padding: 128px 0;
}

.problems-container{
  display: flex;
  justify-content: space-between;
}


.problems-about-wrapper {
  display: flex;
  flex-direction: column;
  

}

.problems-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #282938;
  margin-bottom: 8px;
}

.problems-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.37;
  color: #282938;
  margin-bottom: 31px;
  width: 595px;
}

.problems-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  text-align: justify;
  color: #282938;
  opacity: 0.7;
  width: 484px;
}

.problems-image {
  flex-grow: 0;
  flex-shrink: 0;
}


/* -------------------------------------------------------------------------- */

/* ----------------whoWeAre-------------------------------------------------- */


.section-whoWeAre {
  background-color: #f4f5f5;
}


.whoWeAre-container {
  padding: 80px;
}

.whoWeAre-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  margin-bottom: 4px;
}

.whoWeAre-wrapper{
  display: flex;
  gap: 61px;
}

.whoWeAre-text-wrapper {

}

.whoWeAre-focus-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47368;
  color: #282938;
  margin-bottom: 16px;
}


.whoWeAre-focus-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
}



.whoWeAre-improve-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47368;
  color: #282938;
  margin-bottom: 16px;
}

.whoWeAre-improve-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
}

.whoWeAre-image {}




/* -------------------------------------------------------------------------- */


/* -------------------process------------------------------------------------- */



.section-process {
  padding: 128px 0;
}


.process-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  color: #282938;
  margin-bottom: 104px;
  text-align: center;
}

.process-list {
  display: flex;
  gap: 32px;
}

.process-item {
  position: relative;
  width: calc((100% - 32px * 3 ) / 4);
}

.process-item::before {
  content: '';
  position: absolute;
  top: -32px;
  left: 34px;
  /* 10px (initial offset) + 24px (offset for the circle) */
  width: 224px;
  /* 20px total padding + 24px offset for the circle */
  height: 0;
  border-top: 2px dashed #2405f2;
  opacity: 0.4;
}

.process-item::after {
  content: '';
  position: absolute;
  top: -44px;
  /* 32px above the item + 12px (half of the circle height) */
  left: 0px;
  width: 24px;
  height: 24px;
  background-color: #2405f2;
  border-radius: 50%;
}

.process-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #282938;
}

.process-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
}





/* -------------------------------------------------------------------------- */



/* ------------------------section-innovate----------------------------------------- */


.section-innovate {
  padding: 128px 0;
  background-color: #eef4fa;
}


.innovate-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.innovate-wrapper:last-child{
  margin-bottom: 0;
}

.innovate-textbox {
}

.innovate-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  margin-bottom: 16px;
}

.innovate-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47;
  color: #282938;
  margin-bottom: 16px;
}

.innovate-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
  width: 623px;
}

.innovate-share-image {

}

.innovate-focus-image {

}



/* -------------------------------------------------------------------------- */



/* ------------------------section-benefits------------------------------------------- */



.section-benefits {
  padding: 128px 0;
}


.benefits-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #282938;
  width: 630px;
  margin: 0 auto 48px auto;
}

.benefits-list {
  display: flex;
  gap: 32px;
}

.benefits-item {
  background-color: #f4f6fc;
  width: calc((100% - 32px * 2 ) / 3);
  padding: 50px 32px 48px 48px;
}

.benefits-icons {
  fill: #2405f2;
  margin-bottom: 26px;

}

.benefits-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #282938;
  margin-bottom: 12px;

}

.benefits-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
}



.benefits-logo-wrapper {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefits-logo-textbox {}

.benefits-logo-number {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47;
  color: #282938;
}

.benefits-logo-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
}

.benefits-logo-list {
  display: flex;
  gap: 60px;
}

.benefits-logo-item {}

.benefits-logo-img {}






/* -------------------------------------------------------------------------- */






/* ---------------FOOTER      ------------------------------------------------------------ */

.footer-our-section {
  background-color: #1c1e53;
  padding-top: 96px;
}


.footer-our-container {}

.footer-our-finstalk-box {
  display: flex;
}

.footer-our-fins-wrapper {}

.header-logo {}

.footer-logo-img {
  margin-bottom: 24px;
}

.footer-our-fins-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  width: 399px;
}

.footer-our-talk-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
}

.footer-our-talk-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  color: #fff;
  margin-bottom: 14px;
}

.footer-our-talk-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #f4f6fc;
  opacity: 0.8;
  margin-bottom: 26px;
  width: 399px;
}

.footer-our-talk-list {
  display: flex;
  gap: 27px;
}

.footer-our-talk-item {}

.footer-our-talk-link {}

.footer-our-talk-icons {
  fill: #fff;
}

.footer-our-address {
  width: 517px;
  height: 95px;
  background-color: #fcd980;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 37px;
  display: flex;
  gap: 29px;
}

.footer-our-address-email-wrapper {}

.footer-our-address-email-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #282938;
  margin-bottom: 1px;
  font-style: normal;
}

.footer-our-address-email-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.8;
}

.footer-our-address-tall-wrapper {}

.footer-our-address-tall-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #282938;
  font-style: normal;
}

.footer-our-address-tall-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.8;
  font-style: normal;
}







.footer-menu-section {}

.footer-menu-container {
  display: flex;
  justify-content: space-between;
}

.footer-menu-wrapper-link {
  padding: 32px 0;
}

.footer-menu-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
}

.footer-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  padding: 32px 0;
}

.footer-menu-list {
  display: flex;
  gap: 32px;
}

.footer-menu-item {
  padding: 32px 0;
}

/* -------------------------------------------------------------------------- */