/* -------- НОРМАЛІЗАТОР ---------------------------- */

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* ---------------------------------------------------------------------------------------- */

/* --------- ОБЩИЕ СТИЛИ --------------- */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.container {
  width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------------------------------------------------------------------------- */


/* ------------ HEADER ---------------------------------------------------------------------- */

.header {
  background-color: #1c1e53;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.header-logo {
  padding: 17px 0;
}

.header-logo-img {

}

.header-navigation-menu {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 32px;

}

.header-menu-item {
  
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  transition: color 250ms linear;
  
}
.header-menu-link:hover, .header-menu-link:focus{
  color: #fcd980;
}



.header-menu-contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;

  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  padding: 15px 51px;
  display: inline-block;
  height: 60px;
  margin-left: 48px;
  transition: color 250ms linear,border 250ms linear;
}

.header-menu-contacts:hover,.header-menu-contacts:focus{
  color: #fcd980;
  border: 2px solid #fcd980;
}


/* ---------------SECTION-HEADER------------------------------------------------------ */

.header-section{
  background-color: #1c1e53;
}

.building-container {
  display: flex;
  justify-content: space-between;
}

.building-wrapper{
  padding: 126px 0;
  margin-right: 60px;
}

.building-title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.37;
  color: #fff;
  margin-bottom: 24px;
}

.building-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  margin-bottom: 48px;
}

.building-button {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77;
  color: #1b1c2b;
  border-radius: 41px;
  padding: 15px 51px;
  height: 64px;
  background-color: #fcd980;
  border: none;
  display: inline-block;
  margin-right: 40px;
  cursor: pointer;
  transition: background-color 250ms linear;
}

.building-button:hover,.building-button:active{
  background-color: #fde4a6;
}

.building-vievmore-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  transition: color 250ms linear;
}

.building-vievmore-link-arrow {
  transition: fill 250ms linear;
  display: inline-block;
  transform: translateX(7px);
  fill: #fff;
  stroke: #fff;
  stroke-width: 1.50px;
}

.building-vievmore-link:hover,.building-vievmore-link:focus{
  color: #fde4a6;
}

.building-vievmore-link:hover .building-vievmore-link-arrow,.building-vievmore-link:focus .building-vievmore-link-arrow{
  fill: #fde4a6;
}


.building-img {
  margin-top: 149px;
  flex-shrink: 0;
  flex-grow: 0;
}




/* ---------------------------------------------------------------------------------------- */


/* ------------------------WORK-SECTION---------------------------------------------------- */

.work-section {
  padding: 128px 0;
  background-color: #f4f6fc;
}

.work-container{
  display: flex;
}

.work-container-how {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-right: 130px;
}

.work-how-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  color: #282938;
}

.work-how-descr {
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
  width: 405px;
}

.work-how-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #2405f2;
}

.work-vievmore-link-arrow{
  fill: #2405f2;
  stroke: #2405f2;
  stroke-width: 1.50px;
  transform: translateX(10px);
}

.work-container-strategy {
  
}

.work-strategy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 25px;

}

.work-strategy-item {

}

.work-strategy-img {
  margin-bottom: 16px;
  flex-shrink: 0;
  flex-grow: 0;
}

.work-strategy-subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: #282938;
  margin-bottom: 8px;
}

.work-strategy-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
  max-width: 328px;
}


/* ---------------------------------------------------------------------------------------- */


/* -----------------------Section-Projects------------------------------------------------ */


.section-projects {
  padding: 128px 0;
}


.projects-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.projects-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  color: #282938;
}

.projects-viewmore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
}

.projects-vievmore-toplink-arrow {
  fill: #282938;
  stroke-width: 1.50px;
  stroke: #282938;
  transform: translateX(16px);
}

.projects-submain-container {
  display: flex;
  gap: 32px;

  
}

.projects-unisaas-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects-unisaas--wrapper{
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%), url(../images/main/view-our-projects3.png);
  background-repeat: no-repeat; 
  background-size: cover;
  width: 405px;
  height: 284px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 36px;
  padding-left: 56px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  justify-content: end;

}


    @media (min-resolution: 192dpi) {
      .projects-unisaas--wrapper {
      background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%), url(../images/main/view-our-projects3@2x.png);
      background-repeat: no-repeat;
      background-size: cover;
      }
  }

.projects-unisaas-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 10px;
}

.projects-unisaas-viewmore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fcd980;
}

.projects-vievmore-link-arrow {
  fill:#fcd980 ;
  stroke-width: 1.50px;
  stroke: #fcd980;
  transform: translateX(13px);
}

.projects-webflow-container {
  display: flex;

}

.projects-webflow-wrapper-text {
  width: 843px;
  height: 600px;
  background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%) left/50% 100%,
    url(../images/main/view-our-projects1.png);
  background-repeat: no-repeat;
  background-size: 50% 100%, cover; 
  padding-left: 48px;
  padding-right: 35px;
  padding-bottom: 76px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


  @media (min-resolution: 192dpi) {
    .projects-webflow-wrapper-text {
      background: linear-gradient(306deg, #1c1e53 0%, rgba(28, 30, 83, 0.42) 100%) left/50% 100%,
      url(../images/main/view-our-projects1@2x.png);
      background-size: 50% 100%, cover;
      background-repeat: no-repeat;
  }
}

.projects-webflow-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
  width: 313px;
}

.projects-webflow-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
  opacity: 0.8;
  margin-bottom: 40px;
  width: 293px;
}

.projects-webflow-viewmore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fcd980;
}

.projects-webflow-image {
  flex-grow: 0;
  flex-shrink: 0;
}


/* ---------------------------------------------------------------------------------------- */


/* ------------------------FEATURES-SECTION---------------------------------------------- */

.section-features{
  padding: 128px 0;
  background-color:#f4f6fc;
}

.features-container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.features-descr {
  font-weight: 500;
    font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #282938;
  margin-bottom: 12px;
}

.features-title {
  font-weight: 600;
  font-size: 48px;  
  line-height: 1.33;
  text-align: center;
  color: #282938;
  width: 630px;
  margin-bottom: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.features-item {
  width: calc((100% - 32px * 2) / 3 );
  padding: 48px 0px 48px 48px;
  background-color: #fff;
}

.features-icons {
  margin-bottom: 25px;
  fill: #2405f2;
}

.features-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #282938;
  margin-bottom: 12px;
}

.features-text {
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
}


/* ---------------------------------------------------------------------------------------- */

/* ------------------------ABOUT-US-SECTION--------------------------------------------------- */

.section-aboutUs{
  padding: 128px 0;
}

.aboutUs-container{
  display: flex;
  gap: 110px;
}

.aboutUs-wrapper-first{


}

.aboutUs-first-title{
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47;
  color: #282938;
  margin-bottom: 16px;
}

.aboutUs-first-descr{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
}

.aboutUs-wrapper-next {
}

.aboutUs-next-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: #282938;
}

.aboutUs-next-box {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.aboutUs-next-img-wrapper {
  display: flex;

}

.aboutUs-next-img {

}

.aboutUs-next-img-text-box{
  margin-left:14px;
}

.aboutUs-next-img-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #282938;

}

.aboutUs-next-img-descr {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.33;
  color: #282938;
}

.aboutUs-next-icons-box {
  display: flex;
  gap: 11px;
}

.icons-box-left {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icons-box-left-icon {
  fill: #282938;
  stroke: #282938;
}

.icons-box-right {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #5239fa;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.icons-box-right-icon {
  fill: #fff;
  stroke: #fff;
}



/* ---------------------------------------------------------------------------------------- */

/* ---------------------section-questions---------------------------------------------------------- */


.section-questions {

}



.questions-container{
  display: flex;
  gap: 109px;
}

.questions-wrapper-asked {

}

.questions-asked-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.47;
  color: #282938;
  margin-bottom: 16px;
}

.questions-asked-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  text-align: center;
  color: #2405f2;
  opacity: 0.87;
}

.questions-wrapper-howmuch {

}

.questions-howmuch-list {
  counter-reset: item-counter;
    /* Ініціалізуємо лічильник */
}

.questions-howmuch-item {
  counter-increment: item-counter;
    /* Збільшуємо лічильник для кожного елемента */
    border-bottom: 2px solid #ececf1;
  margin-bottom: 38px;
}

.questions-howmuch-item:last-child{
  
  margin-bottom: 0;
}

.questions-howmuch-subtitle::before {
  content: counter(item-counter, decimal-leading-zero);
  /* Відображаємо лічильник з нулями попереду */
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #2405f2;
  margin-right: 30px;
}


.questions-howmuch-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #282938;
  margin-bottom: 16px;
  
}

.questions-howmuch-descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #282938;
  opacity: 0.87;
  padding-bottom: 48px;
  margin-left: calc(30px + 24px);
    /* Вирівнюємо з h3 */
  
}



/* ---------------------------------------------------------------------------------------- */

/* ---------------------------.stellar-section--------------------------------------------------- */



.stellar-section {
  padding: 120px 0;
}

.stellar-container {
  display: flex;
}

.stellar-wrapper {
  position: relative;
  background-image: url(../images/main/woman-writing-on-paper.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 656px;
  height: 691px;
  padding: 96px;
  padding-bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}

.stellar-wrapper-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 30, 83, 0.5);
  z-index: -1;
}

.stellar-title {
  width: 464px;
  font-weight: 600;
  font-size: 54px;
  line-height: 1.37;
  color: #fff;
  margin-bottom: 24px;
}

.stellar-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #fff;
}

.stellar-wrapper-form {
  width: 624px;
  height: 691px;
  background-color: #1c1e53;
  padding: 96px;
  padding-bottom: 48px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}

.stellar-form-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
}

.stellar-form-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #f4f6fc;
  margin-bottom: 40px;
}

.stellar-form {
  display: flex;
  flex-direction: column;
  gap: 39px;
  margin-bottom: 32px;
  
}

.stellar-form-input-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.stellar-form-input-box{

}

.stellar-form-input {
  border: 1.50px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  width: 432px;
  height: 64px;
  outline: transparent;
  padding-left: 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #f4f6fc;
  background-color: transparent;
}

.stellar-form-input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #f4f6fc;
  opacity: 0.5;

}

.stellar-form-input-button{
  border-radius: 41px;
  padding: 15px 51px;
  width: 432px; 
  height: 64px;
  background-color: #fcd980; 
  cursor: pointer;
}

.stellar-form-input-button::placeholder {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.77778;
  color: #1b1c2b;
}

.stellar-form-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  color: #fff;
  align-self: center;
  transition: 250ms color linear;
}

.stellar-form-link-icon {
  fill: #fff;
  stroke-width: 1.50px;
  stroke: #f4f6fc;
  transform: translateX(8px);
  transition: 250ms stroke linear, 250ms fill linear;
}


.stellar-form-link:hover{
  color: #fcd980;
  stroke: #fcd980;
  fill: #fcd980;
}

.stellar-form-link:hover .stellar-form-link-icon {
  stroke: #fcd980;
  fill: #fcd980;
}


/* ----------------------ourblog--------------------------------------------------- */




.ourblog {
  padding-bottom: 128px;
}

.ourblog-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.33;
  color: #282938;
  margin-bottom: 64px;
}

.ourblog-list {
  display: flex;
  gap: 32px;
}

.ourblog-item {
  width: calc((100% - 32px * 2) / 3 );
}

.ourblog-img {
  margin-bottom: 40px;
}

.ourblog-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 16px;
}

.ourblog-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #282938;
  margin-bottom: 16px;
}

.ourblog-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 32px;
}

.ourblog-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #282938;
}

.ourblog-link-icon {
  fill: #282938;
  stroke-width: 1.50px;
  stroke: #282938;
  transform: translateX(8px);
}


/* ---------------------------------------------------------------------------------------- */